{{ define "main" }}
<main role="main" style="">
    <div>
        {{- if .Site.Params.Portrait.Path }}
        {{- partial "image.html" (dict "path" .Site.Params.Portrait.Path "alt" .Site.Params.Portrait.Alt "class" "circle" "style" (printf "max-width:%s" .Site.Params.Portrait.Size ))}}
        {{- end }}

        <h1>{{ .Site.Title }}</h1>
        {{- with .Site.Params.homeSubtitle }}
        <p>{{.}}</p>
        {{- end }}

        {{- with .Site.Params.social }}
        <div class="socials">
            {{ partial "social-icons.html" . }}
        </div>
        {{- end }}
        <div class="spacer" style="max-height: 5vh; height: calc({{ .Site.Params.Portrait.Size }} / 2)"></div>
    </div>
</main>
{{ end }}