{{ define "main" }}
<main role="main" style="">
    <div>
        {{- if .Site.Params.Portrait.Path }}
        {{- $img := imageConfig (printf "static/%s" .Site.Params.Portrait.Path) }}
        <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}"
            width="{{ $img.Width }}" height="{{ $img.Height }}" style="max-width:{{ .Site.Params.Portrait.Size }}" />
        {{- end }}

        <h1>{{ .Site.Title }}</h1>
        {{- with .Site.Params.homeSubtitle }}
        <p>{{.}}</p>
        {{- end }}

        {{- with .Site.Params.social }}
        <div class="socials">
            {{ partial "social-icons.html" . }}
        </div>
        {{- end }}
        <div class="spacer" style="max-height: 5vh; height: calc({{ .Site.Params.Portrait.Size }} / 2)"></div>
    </div>
</main>
{{ end }}