<figure {{- with .Get "class" }} class="{{ . }}" {{ end }}{{ with .Get "id" }} id="{{ . }}" {{ end }}>
  {{- if .Get "link" -}}
  <a href="{{ .Get "link" }}" {{ with .Get "target" }} target="{{ . }}" {{ end }}{{ with .Get "rel" }} rel="{{ . }}"
    {{ end }}>
    {{- end -}}
    {{- if eq (.Get "raw") true }}
    {{- $img := resources.Get (.Get "src") }}
    <img src="{{ $img.Permalink }}" {{- if or (.Get "alt") (.Get "caption") }}
      alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}" {{- end -}}
      width="{{ .Get "width" | default $img.Width }}" height="{{ .Get "height" | default $img.Height }}" />
    {{- else }}
    {{- partial "image.html" (dict "path" (.Get "src") "alt" (or (.Get "alt") (or (.Get "caption" | markdownify | plainify) (.Get "title"))) "width" (.Get "width") "height" (.Get "height")) }}
    {{- end }}
    {{- if .Get "link" }}</a>{{ end -}}
  {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
  <figcaption>
    {{- with .Get "title" -}}
    <span class="figcaption__title">{{ . }}</span>
    {{- end }}
    {{- if and (.Get "title") (.Get "caption") }}
    <span>{{" - "}}</span>
    {{- end }}
    {{- with .Get "caption" }}
    <span class="figcaption__caption">
      {{- . | markdownify -}}
    </span>
    {{- end -}}
    {{- if .Get "attr" }}
    {{- if or (.Get "title") (.Get "caption") }}
    <span>{{" - "}}</span>
    {{- end }}
    <span class="figcaption__attr">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
        <circle cx="12" cy="7" r="4"></circle>
      </svg>
      {{- with .Get "attrlink" }}
      <a href="{{ . }}">
      {{- end -}}
      {{- .Get "attr" | markdownify -}}
      {{- if .Get "attrlink" }}</a>{{ end }}
    </span>
    {{- end -}}
  </figcaption>
  {{- end }}
</figure>