.masonry {
  display: grid;
  margin-top: 20px;
  grid-gap: 20px 90px;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  // grid-auto-rows: 20px; // Set by JavaScript
  // margin-bottom: calc(4 * 20px); // Set by JavaScript

  > * {
    margin: 0;
  }

  @media #{$media-size-medium} {
    grid-template-columns: 1fr;
  }
}
