.portfolio {
    width: 100%;
    max-width: 1000px;
    text-align: left;
    padding: 20px;
    margin: 20px auto;

    @media #{$media-size-medium} {
        max-width: 800px;
    }

    @media #{$media-size-tablet} {
        max-width: 600px;
    }

    &-title {
        font-size: 2.625rem;
        margin: 0 0 20px;

        @media #{$media-size-phone} {
            font-size: 2rem;
        }

        a {
            text-decoration: none;
        }
    }

    &-timespan {
        margin-top: -20px;
        font-size: 0.9em;
    }

    &-tags {
        display: block;
        margin-bottom: 20px;
        font-size: 1rem;
        opacity: 0.5;

        a {
            text-decoration: none;
        }
    }

    &-content {
        margin-top: 30px;
    }

    &-links {
        font-size: 0.8em;
        margin-top: -8px;
        opacity: 0.7;

        a {
            text-decoration: none;
        }

        > * {
            margin-right: 8px;
        }
    }

    &-cover {
        border-radius: 8px;
        margin: 30px -50px;
        width: 1060px;
        max-width: 1060px;

        @media #{$media-size-medium} {
            max-width: 860px;
        }

        @media #{$media-size-tablet} {
            margin: 20px 0;
            width: 100%;
        }
    }

    &-info {
        margin-top: 30px;
        font-size: 0.8rem;
        line-height: normal;
        @include dimmed;

        p {
            margin: 0.8em 0;
        }

        a:hover {
            border-bottom: 1px solid white;
        }

        svg {
            margin-right: 0.8em;
        }

        .tag {
            margin-right: 0.5em;
            display: inline-block;

            &::before {
                content: "#";
            }
        }
    }

    .flag {
        border-radius: 50%;
        margin: 0 5px;
    }
}
